<!DOCTYPE html>
<form action="{% url 'global_delete' %}" method="post">
{% csrf_token %}
    {% for email in address_list %}
    <p>
    <label for="{{ email.pk }}">
        <input id="{{ email.pk }}" name="{{ email.pk }}" type="checkbox" />
        {{ email.address }}
    </label>
    </p>
    {% endfor %}
    {% if address_list %}
        <input type="submit" value="Delete selected" />
    {% endif %}
</form>
<br>
<a href="{% url 'global_add' %}">Add email</a>
